<section id="footer_info">
    <div>
        <div>
            <h2> Category list:</h2>
            <ul>
                <li> categoy 1</li>
                <li> categoy 2</li>
                <li> categoy 3</li>
                <li> categoy 4</li>
                <li> categoy 5</li>
            </ul>
        </div>
        <div>
            <h2> Partners:</h2>
            <ul>
                <li> partners 1</li>
                <li> partners 2</li>
                <li> partners 3</li>
                <li> partners 4</li>
                <li> partners 5</li>
                <li> partners 6</li>
                <li> partners 7</li>
            </ul>
        </div>
        <div>
            <h2> Legal and services:</h2>
            <ul>
                <li> option 1</li>
                <li> option 2</li>
                <li> option 3</li>
                <li> option 4</li>
            </ul>
        </div>
        <div>
            <h2> Website map:</h2>
            <ul>
                <li> <a href="#"> Index</a></li>
                <li> <a href="#"> Search</a></li>
                <li> <a href="#"> Add</a> </li>
            </ul>
        </div>
    </div>
</section>

<footer>
    <h2>Copyright - WADS Company</h2>
</footer>