body{
    background-color: lightgrey;
}

header{
    border-top: 1px solid $header_border_color;
    border-bottom: 1px solid $header_border_color;
    background-color: $header_bg_color;
        
    nav{
        @media screen and (max-width : 60em){
            @include grid_row(100%, 0);
        }
        @media screen and (min-width : 60em){
            @include grid_row(60rem, 0);
            margin: auto;
        }
        
        a{
            @include grid_col(2, 8, 0);
            @include btn_link($none);
            padding: 0.5em;
        
            &:hover{
                background-color: $button_ligth_color; 
            }
            @media screen and (min-width : 60em){
                @include grid_col(1, 4, 0);
                padding: 0.5em;
                border-color: $header_border_color;
                border-left: 0.1em solid;
                border-right: 0.1em solid;
                
            }
            
            img{
                width: 3em;
                height: 3em;
                font-weight: bold;
                color: $header_text_color;
                display: inline-block;
                vertical-align: top;
            }
            
            h4{
                @include title(1.2em, white);
                padding-left: 0.5em;
                @media screen and (max-width : 41em){
                    display: none;
                }
                @media screen and (min-width : 41em){
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }

        a:nth-child(2){
            border-color: $header_border_color;
            border-left: 0.1em solid;
        }
        
        a:nth-child(3){
            border-color: $header_border_color;
            border-left: 0.1em solid;
            border-right: 0.1em solid;
        }
    }
}