/*------------BACKGROUNDCOLOR----------*/

$none: transparent;
$header_bg_color: #444444;
$diapo_bg_color: orange; 
$category_bg_color: #FAFAFA; 
$offer_bg_color: #F0F0F0;
$footer_bg_color: #DFE4E4;
$footer_bg_color_dark: #444444;

$button_dark_color:#444444;
$button_ligth_color: orange;

/*------------BORDERCOLOR--------------*/

$header_border_color: white;
$diapo_border_color: grey;
$category_border_color: #A9ABAC;
$offer_border_color: #A9ABAC;
$footer_border_color: #A9ABAC;


/*------------TEXTCOLOR----------------*/

$header_text_color: white;
$category_text_color: #5F5D5F;
$form_search_text: #5F5D5F;

/*-------------FORM--------------------*/

$form_primary_color: #444444;
$form_secondary_color: orange;